# Configuration serveur
PORT=3007
NODE_ENV=development

# Configuration MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=votre_mot_de_passe
DB_NAME=neogenea
DB_PORT=3306

# Chemins
UPLOAD_DIR=./uploads
